{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
<style>
.body_color{
    background-color: red;
    font-size: 30px;
    height: 200px;
}

</style>

{% endblock %}

{% block body %}
<div class='body_color'>
Hello

</div>
{% endblock %}
